.name {
    font-size: 5rem;
}

.fname {
    font-weight: 100;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    font-size: 1.5rem;
}

.contact li {
    margin-top: 3%;
    font-size: 1.1rem;
}

.contact-icon {
    margin-right: 10%;
}

/* tab-view */
@media screen and (max-width: 1000px) {
    .contact {
        width: 40%;
    }
}

@media screen and (max-width: 700px) {
    header {
        display: block;
        margin: auto;
    }

    .name {
        text-align: center;
        font-size: 3.5rem;
    }

    .contact {
        width: 70%;
        margin: auto;
    }

    .contact li {
        margin-top: 1%;
        font-size: 1rem;
    }

    .contact-icon {
        margin-right: -10%;
    }
}