.project-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0 0.5% 0;
    border-bottom: 1px solid;
}

.type {
    padding-left: 3%;
    border-left: 2px solid;
}

.project-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}

.project-description {
    margin-top: 1%;
}


@media (max-width: 1000px) {
    .project-heading {
        font-size: 1rem;
    }

    .type {
        display: none;
    }

    .project-link {
        display: block;
        font-size: 1rem;
    }

    .pro-name {
        font-size: 1.3rem;
    }
}